
<h2>{{resource.name}}</h2>
<p>{{resource.description}}</p>

<div class="container">
  <ul class="timeslots">
    {{#each timeslots as |timeslot|}}
      {{resource-calendar-timeslot resource=resource timeslot=timeslot}}
    {{/each}}
  </ul>
</div>
