.navbar-brand {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #84B1E6;
	font-weight: 900;
	letter-spacing: 0.1em;
	font-size: 24px;
	margin: 0 !important;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
}

.light {
	font-weight: 300;
}

.navbar-brand:hover {
	color: #FFF;
}

.navbar-brand:active .navbar-brand:active, .navbar-brand:focus {
	color: #84B1E6;
}

a:link {
	color: #3498DB;
}

a:hover, a:active, a:focus {
	color: #2980B9;
	text-decoration: none;
}

.navbar {
	background-image: linear-gradient(to bottom, #001c71 0%, #001c71 100%) !important;
	padding: 20px;
}

.navbar-header {
	width: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

body {
	font-family: 'Lato', sans-serif;
	padding-top: 80px;
}

.jumbotron {
	background-color: #FFF;
}

.m-b-1 {
	margin-bottom: 10px;
}

.m-b-2 {
	margin-bottom: 20px;
}

.m-b-3 {
	margin-bottom: 30px;
}

.m-t-3 {
	margin-top: 30px;
}

.jumbotron p {
	font-size: 16px;
	font-weight: 300;
}

.equipment-selector {
	margin-left: -20px;
}

.equipment-selector .col-xs-4 {
	margin-right: 20px;
}

.equipment-selector .well-lg {
	background-color: #ECF0F1;
	padding: 50px 24px;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
}

.equipment-selector .well-lg.disabled {
	background-color: #EEEEEE;
	cursor: not-allowed;
}

.equipment-selector .well-lg.disabled a {
	color: #888888;
	cursor: not-allowed;
}

.equipment-selector .well-lg a:hover {
	text-decoration: none;
}

.equipment-selector .well-lg:hover:not(.disabled) {
	background-color: #D5DFE2;
}

/* Resource View */

.resource-day-selector {
	margin-bottom: 40px;
}

.resource-day-selector .well {
	background: #FFF;
	border-color: #D5DFE2;
}

.resource-day-selector .well:first-child {
	border-radius: 8px 0 0 8px;
}

.resource-day-selector .well {
	border-radius: 0;
	border-right: 0;
	min-height: 160px;
	text-align: left;
    -webkit-transition: 0.2s; /* Safari */
	transition: 0.2s;
}

.resource-day-selector .well:last-child {
	border-right: 1px #D5DFE2 solid;
	border-radius: 0 8px 8px 0;
}

.resource-day-selector .well:hover {
	cursor: pointer;
	background-color: #84B1E6;
	color: #FFF;
}

.resource-day-selector .selected {
	background-color: #84B1E6;
	color: #FFF;
}

.resource-day-selector p {
	margin: 0;
}

.resource-day-selector h2 {
	margin-top: 0;
}

.resource-locations > li {
	margin-bottom: 50px;
}

.timeslots .btn-lg {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 4px;
	margin-right: 4px;
	border: 1px solid #D5DFE2;
	border-radius: 4px;
	width: 100px;
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
    background: #ECF0F1;
    border: 0;
    padding: 12px 18px;
}

.timeslots .btn-lg:hover {
	background-color: #3498DB;
}

.timeslots .btn-lg a {
	-webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
}

.timeslots .btn-lg:hover a {
	color: #FFF;
}

/* Form */

label {
	color: #000;
}

form.information-form input {
	margin-bottom: 10px;
}

form.information-form .form-control {
	border-radius: 3px;
	padding: 14px 20px;
	box-shadow: none;
	font-size: 18px;
	font-weight: 300;
	line-height: 0px;
	height: 50px;
	border: 1px solid #BDC3C7;
}

form.information-form .form-control:focus {
	border: 1px solid #3498DB;
}

form.information-form textarea.form-control {
	line-height: 20px;
	height: 60px;
	padding-top: 14px;
	height: 50px;
}

.inline-values {
	width: 16%;
	display: inline-block;
}

.inline-values.medium {
	width: 22%;
}

.inline-values.larger {
	width: 40%;
}

.booking-info {
	border: 1px solid #BDC3C7;
	padding: 20px 30px 10px 30px;
	border-radius: 0 4px 4px 0;
	border-left: 4px solid #3498DB;
	margin-bottom: 30px;
}

.booking-info h3 {
	margin-bottom: 20px;
}

.subdued {
	color: #95A5A6;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.booking-info .value {
	font-size: 16px;
}

form.information-form .btn {
	margin-top: 20px;
	font-weight: 300;
	background-color: #3498DB;
	border: 0;
	border-radius: 3px;
	padding: 18px;
    box-shadow: 0px 2px 0px #2980B9;
}

form.information-form .btn:hover {
	background-color: #2980B9;
	top: 2px;
	position: relative;
	box-shadow: none;
}

.confirmation p {
	font-size: 18px;
}

.confirmation .btn {
	background-color: #3498DB;
	border: 0;
	padding: 12px 18px;
}