
<div class="container">

  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">

      <nav class="m-b-3">
        {{#link-to 'resources.index' (query-params type=resource.type)}}
          &lt; Go back to Booking Selection
        {{/link-to}}
      </nav>

      <h4>You've selected:</h4>

      <div class="booking-info">

        <h3 style="margin-top: 0;">{{resource.name}}</h3>

        <ul class="list-unstyled">
          <li class="date inline-values">
            <div class="subdued">Date</div>
            <div class="value" data-date={{moment-format startTime "YYYY-MM-DD"}}>
              {{moment-format startTime "MMM D"}}
            </div>
          </li>

          <li class="time inline-values medium">
            <div class="subdued">Time</div>
            <div class="value">{{moment-format startTime "ha"}}–{{moment-format endTime "ha"}}</div>
          </li>

          <li class="location inline-values larger">
            <div class="subdued">Location</div>
            <div class="value">Toronto Reference Library</div>
          </li>
        </ul>
      </div>


      <h4>Please provide the following:</h4>

      <form class="information-form">
        <div>
          {{input
            type="text"
            value=model.userId
            class="form-control card-number"
            placeholder="Library Card*"
          }}
        </div>

        <div>
          {{input
            type="text"
            class="form-control"
            value=model.name
            placeholder="Name"
          }}
        </div>

        <div>
          {{input
            type="text"
            class="form-control"
            value=model.email
            placeholder="Email"
          }}
        </div>

        <div>
          {{input
            type="text"
            class="form-control"
            value=model.phoneNumber
            placeholder="Phone Number"
          }}
        </div>

        <div>
          {{textarea
            type="text"
            class="form-control"
            value=model.description
            placeholder="Reason for booking…"
          }}
        </div>

        <div>
          <button class="btn btn-primary btn-block btn-lg submit" {{action "submit"}}>Request to Book</button>
        </div>
      </form>

    </div>
    <div class="col-xs-3">
    </div>
  </div>

</div>