<div class="container">
 <div class="row text-center">
  <h1 class="m-b-3 light">Available Equipment</h1>
  <h4 class="m-b-1">What would you like to book?</h4>
 </div>
 <div class="equipment-selector">
	 <div class="row row-eq-height m-t-3">
	    <div class="col-xs-4 well well-lg text-center">{{#link-to 'resources' (query-params type='printer3d')}}<h2>3D Printers</h2><p>Reserve a 3D printer</p>{{/link-to}}</div>
	    <div class="col-xs-4 well well-lg text-center disabled">{{#link-to 'resources' (query-params type='laptops') disabled=true}}<h2>Laptops</h2><p>Use a modern laptop</p>{{/link-to}}</div>
	    <div class="col-xs-4 well well-lg text-center disabled">{{#link-to 'resources' (query-params type='arduino') disabled=true}}<h2>Arduinos</h2><p>Make a machine and study hardware</p>{{/link-to}}</div>
	 </div>
	 <div class="row row-eq-height">
	    <div class="col-xs-4 well well-lg text-center disabled">{{#link-to 'resources' (query-params type='printer3d')}}<h2>3D Scanner</h2><p>Digitize real objects</p>{{/link-to}}</div>
	    <div class="col-xs-4 well well-lg text-center disabled">{{#link-to 'resources' (query-params type='laptops') disabled=true}}<h2>A/V Production Space</h2><p>Film on our green screen sound stage</p>{{/link-to}}</div>
	    <div class="col-xs-4 well well-lg text-center disabled">{{#link-to 'resources' (query-params type='arduino') disabled=true}}<h2>Computers</h2><p>General purpose computers</p>{{/link-to}}</div>
	 </div>
	</div>
</div>
